.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        padding: 12px 0px;
        caret-color: var(--primary);
        background: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        background-color: rgba(22, 24, 35, 0.2);
    }

    &:focus-within {
        border: 1px solid rgb(118, 118, 118);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.8);
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 1.4rem;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.4);

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.1);
    }
}
